# Supabase Live Environment
LIVE_SUPABASE_URL=https://deine-live-url.supabase.co
LIVE_SUPABASE_SERVICE_ROLE_KEY=dein-neuer-live-service-role-key

# Supabase Test Environment
TEST_SUPABASE_URL=https://deine-test-url.supabase.co
TEST_SUPABASE_SERVICE_ROLE_KEY=dein-neuer-test-service-role-key
